<div class="dropdown">
    <span class="selected">@Name</span>
    <span class="material-symbols-sharp">expand_more</span>
    
    <span class="dropdown-click" onclick="@ToggleDropdown"></span>
    
    <ul class="dropdown-items" data-shown="@_showDropdown">
        @foreach (var item in Items)
        {
            @if (Multiselect)
            {
                <li>
                    <label>
                        <input type="checkbox" value="@item">
                        @item
                    </label>
                </li>
            }
            else
            {
                <li>
                    <label>
                        <input type="radio" name="selectedItem" value="@item" class="dropdown-item">
                        @item
                    </label>
                </li>
            }
        }
    </ul>
</div>
    

@code {
    [Parameter]
    public string Name { get; set; }
    
    [Parameter]
    public List<string> Items { get; set; }
    
    [Parameter]
    public bool Multiselect { get; set; }
    
    public string[] SelectedItems { get; set; } = Array.Empty<string>();
    
    // if not multiselect
    public string SelectedItem { get; set; }
    
    private string _showDropdown = "false";
    private string _icon = "expand_more";
    
    private void ToggleDropdown()
    {
        _showDropdown = _showDropdown == "false" ? "true" : "false";
        _icon = _icon == "expand_more" ? "expand_less" : "expand_more";
        //StateHasChanged();
    }
}