@using System.Diagnostics
@inject NavigationManager NavigationManager

<nav class="sidebar" data-sticky="@_sticky">
    <ul class="sidebar-items">
        <li class="logo">
            <JiayiLogo Size="2rem" Shadow="3px"/>
            <p class="wordmark">Jiayi</p>
            <input type="checkbox" class="sticky" title="sticky" onclick="@Sticky">
        </li>
        
        <li class="sidebar-item">
            <a href="Dashboard" class="sidebar-link" data-selected="@_tabs["Dashboard"]">
                <div class="select-border"></div>
                <span class="material-symbols-sharp">dashboard</span>
                <span class="sidebar-link-text">@Strings.SidebarDashboard</span>
            </a>
        </li>
        
        <li class="sidebar-item">
            <a href="Mods" class="sidebar-link" data-selected="@_tabs["Mods"]">
                <div class="select-border"></div>
                <span class="material-symbols-sharp">collections_bookmark</span>
                <span class="sidebar-link-text">@Strings.SidebarMods</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="Profiles" class="sidebar-link" data-selected="@_tabs["Profiles"]">
                <div class="select-border"></div>
                <span class="material-symbols-sharp">texture</span>
                <span class="sidebar-link-text">@Strings.SidebarProfiles</span>
            </a>
        </li>
        
        <li class="sidebar-item">
            <a href="Versions" class="sidebar-link" data-selected="@_tabs["Versions"]">
                <div class="select-border"></div>
                <span class="material-symbols-sharp">deployed_code</span>
                <span class="sidebar-link-text">@Strings.SidebarGame</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="Settings" class="sidebar-link" data-selected="@_tabs["Settings"]">
                <div class="select-border"></div>
                <span class="material-symbols-sharp">settings</span>
                <span class="sidebar-link-text">@Strings.SidebarSettings</span>
            </a>
        </li>
    </ul>
</nav>

@code {
    private string _sticky = "no";
    private string _currentTab = "Dashboard";
    
    private Dictionary<string, string> _tabs = new()
    {
        {"Dashboard", "yes"},
        {"Mods", "no"},
        {"Profiles", "no"},
        {"Versions", "no"},
        {"Settings", "no"}
    };

    public event EventHandler? OnToggle;

    protected override void OnInitialized()
    {
        UpdateCurrentTab();
        NavigationManager.LocationChanged += (_, _) => UpdateCurrentTab();
    }

    private void Sticky()
    {
        _sticky = _sticky == "no" ? "yes" : "no";
        OnToggle?.Invoke(this, EventArgs.Empty);
    }

    private void UpdateCurrentTab()
    {
        _currentTab = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).Split('/').First();

        if (_currentTab == string.Empty) // dashboard
        {
            _currentTab = "Dashboard";
        }
        
        foreach (var tab in _tabs)
        {
            _tabs[tab.Key] = tab.Key == _currentTab ? "yes" : "no";
        }
        
        StateHasChanged();
    }
}