@using JiayiLauncher.Features.Mods
@using JiayiLauncher.Pages
@using JiayiLauncher.Settings
@using System.IO
@using JiayiLauncher.Features.Stats
@using JiayiLauncher.Features.Versions
@using JiayiLauncher.Localization
@using JiayiLauncher.Utils

<div class="edit" style="overflow-y: @(_showAdvanced ? "auto" : "none")">
    <div class="edit-name">
        <p>@Strings.EditModModName</p>
        <JiayiTextBox Placeholder="@Mod!.Name" @ref="_nameTextBox"/>
    </div>
    
    <div class="edit-versions" style="margin-bottom: 1em">
        <p>@Strings.EditModSupportedVersions</p>
        <JiayiDropDown Multiselect="true" Items="_supportedVersions" Name="@Strings.EditModSelectVersions" SelectedItems="Mod.SupportedVersions" 
                       @ref="_versionsDropDown"/>
    </div>
    
    <div class="advanced" style="margin-bottom: 1em">
        <div class="advanced-dropdown" @onclick="_ => _showAdvanced = !_showAdvanced">
            <i>@Strings.AdvancedSettings</i>
            <span class="material-symbols-sharp">
                @(_showAdvanced ? "expand_less" : "expand_more")
            </span>
        </div>
        @if (_showAdvanced)
        {
            <p>@Strings.EditModLaunchArgs</p>
            <JiayiTextBox Placeholder="@Strings.EditModLaunchArgsNotice" Style="width: 97%" 
                          @ref="_argumentsTextBox"/>
            
            <p>@Strings.EditModDataFolder</p>
            <JiayiTextBox Placeholder="@Strings.EditModDataFolderNotice" Style="width: 97%" 
                          Value="@Mod!.DataFolderName" @ref="_dataFolderNameTextBox"/>
        }
    </div>
    
    <JiayiButton Size="JiayiButton.ButtonSize.Small" OnClick="SaveClicked" Style="margin-bottom: 1em;">@Strings.Save</JiayiButton>
    
    @if (JiayiSettings.Instance!.ModCollectionPath == string.Empty)
    {
        <br>
        <i>
            @Strings.EditModDefaultLocationNotice
        </i>
    }
    
    @if (FromUrlProtocol)
    {
        <br>
        <i style="color: darkred;">
            @Strings.EditModExternalSourceNotice
        </i>
    }
</div>

@code {
    private readonly List<string> _supportedVersions = new() { "Any version" };
    
    [Parameter]
    public Mod? Mod { get; set; }
    
    [Parameter]
    public bool FromUrlProtocol { get; set; }
    
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;
    
    private JiayiTextBox? _nameTextBox;
    private JiayiDropDown? _versionsDropDown;
    private JiayiTextBox? _argumentsTextBox;
    private JiayiTextBox? _dataFolderNameTextBox;
    
    private bool _showAdvanced;

    protected override async Task OnInitializedAsync()
    {
        _supportedVersions.AddRange(await VersionList.GetVersionList());
    }

    private async Task SaveClicked()
    {
        if (Mod == null) return;
        
        if (_versionsDropDown!.SelectedItems.Contains("Any version") && _versionsDropDown.SelectedItems.Count > 1)
        {
            _versionsDropDown.SelectedItems.Clear();
            return;
        }
        
        if (_versionsDropDown.SelectedItems.Count == 0)
        {
            _versionsDropDown.SelectedItems.Add("Any version");
        }

        Mod.Name = _nameTextBox?.Value ?? Mod.Name;
        Mod.SupportedVersions = _versionsDropDown?.SelectedItems ?? Mod.SupportedVersions;
        Mod.Arguments = _argumentsTextBox?.Value ?? Mod.Arguments;
        Mod.DataFolderName = _dataFolderNameTextBox?.Value ?? Mod.DataFolderName;
        
        if (JiayiSettings.Instance.ModCollectionPath == string.Empty)
        {
            JiayiSettings.Instance.ModCollectionPath = 
                Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "JiayiLauncher", "Mods");
            JiayiSettings.Instance.Save();
            ModCollection.Load(JiayiSettings.Instance.ModCollectionPath);
        }

        // basically skips confirmation if mod is already in collection
        ModCollection.Current!.Add(Mod, !ModCollection.Current.HasMod(Mod.Path));
        
        await Modal.CloseAsync(ModalResult.Ok(Mod));
        
        // update mods page and stats
        Mods.Instance?.Refresh();
        Singletons.Get<JiayiStats>().Save();
    }
}
