@using JiayiLauncher.Features.Mods
@using JiayiLauncher.Localization

<div>
    <p>@Strings.ImportModQuestion</p>
    
    @{
        var info = ModCollection.GetInfo(Path);
    }
    
    <ul>
        <li>
            @string.Format(Strings.ImportModModCount, info.TotalMods)
        </li>
        <li>
            @string.Format(Strings.ModsMenuLocallyStored, info.LocallyStoredMods)
        </li>
        <li>
            @string.Format(Strings.ImportModInternetModCount, info.InternetMods)
        </li>
    </ul>
    
    @if (ModCollection.Current == null)
    {
        <i>
            @Strings.ImportModDefaultLocationNotice
        </i>
    }
    else
    {
        <i>@Strings.ImportModMergeNotice</i>
    }
    
    <div style="display: flex; gap: 0.5rem; margin-top: 1em;">
        <JiayiButton Size="JiayiButton.ButtonSize.Small" OnClick="ImportClicked">@Strings.Import</JiayiButton>
        <JiayiButton Size="JiayiButton.ButtonSize.Small" OnClick="Modal.CloseAsync">@Strings.Cancel</JiayiButton>
    </div>
</div>

@code {
    [Parameter]
    public string Path { get; set; } = default!;
    
    [CascadingParameter]
    private BlazoredModalInstance Modal { get; set; } = default!;

    private async Task ImportClicked()
    {
        await Modal.CloseAsync();
        ModCollection.Import(Path);
    }
}