@page "/Settings"
@using JiayiLauncher.Settings
@using System.Reflection

<!--suppress CssInvalidPropertyValue -->
<h3>Settings</h3>

<div class="tabs">
    <span class="material-symbols-sharp">sort</span>
    <p>Categories:</p>
    @foreach (var category in JiayiSettings.Instance!.GetCategories())
    {
        @* i sincerely hope this is the last bit of javascript i have to write for this project *@
        <a class="tab-button" onclick="document.getElementById('@category.ToLower()').scrollIntoView({behavior: 'smooth'})">@category</a>
    }
</div>

<div class="settings-container">
    @foreach (var category in JiayiSettings.Instance.GetCategories())
    {
        <h4 id="@category.ToLower()">@category</h4>
                    
        @foreach (var setting in JiayiSettings.Instance.GetSettingsInCategory(category))
        {
            var settingInfo = setting.GetCustomAttribute<SettingAttribute>();
            var dependentSetting = JiayiSettings.Instance.GetSetting(settingInfo!.Dependency);
            if (dependentSetting == null 
                || (dependentSetting.PropertyType == typeof(bool) && (bool?)dependentSetting.GetValue(JiayiSettings.Instance) == true))
            {
                <div class="setting">
                    <div class="setting-info">
                        <strong>@settingInfo.Name</strong>
                        <p class="setting-description">@settingInfo.Description</p>
                    </div>

                    @switch (true)
                    {
                        case true when setting.PropertyType == typeof(bool):
                            <JiayiToggle Checked="@((bool?)setting.GetValue(JiayiSettings.Instance) ?? false)"
                                         CheckedChanged="value => ChangeBoolSetting(value, setting)"/>
                            break;
                        case true when setting.PropertyType == typeof(string):
                            // feeling a bit silly today
                            var random = Random.Shared.Next(1, 1000);
                            var placeholder = random == 1 ? "Nothing!" : settingInfo.Name;
                            <JiayiTextBox 
                                Placeholder="@placeholder" 
                                Style="width: -webkit-fill-available; max-width: 40%;" 
                                Value="@((string?)setting.GetValue(JiayiSettings.Instance) ?? string.Empty)"
                                Changed="value => ChangeStringSetting(value, setting)"/>
                            break;
                        case true when setting.PropertyType == typeof(int[]):
                            <JiayiSlider 
                                Min="((int[])setting.GetValue(JiayiSettings.Instance)!)[0]" 
                                Max="((int[])setting.GetValue(JiayiSettings.Instance)!)[1]" 
                                Value="((int[])setting.GetValue(JiayiSettings.Instance)!)[2]" 
                                Style="width: -webkit-fill-available; max-width: 40%;"
                                ValueChanged="value => ChangeSliderSetting((int[])setting.GetValue(JiayiSettings.Instance)!, value, setting)"/>
                            break;
                        case true when setting.PropertyType == typeof((string, Action)):
                            var (name, action) = ((string, Action))setting.GetValue(JiayiSettings.Instance)!;
                            @* ReSharper disable once AccessToModifiedClosure *@
                            <JiayiButton OnClick="action" Size="JiayiButton.ButtonSize.Small" Style="padding: 0.5rem 1rem">@name</JiayiButton>
                            break;
                    }
                </div>
            }
        }
    }
</div>

@code {
    private void ChangeStringSetting(string? value, PropertyInfo setting)
    {
        setting.SetValue(JiayiSettings.Instance, value ?? string.Empty);
        JiayiSettings.Instance!.Save();
    }
    
    private void ChangeBoolSetting(bool value, PropertyInfo setting)
    {
        setting.SetValue(JiayiSettings.Instance, value);
        JiayiSettings.Instance!.Save();
    }
    
    private void ChangeSliderSetting(int[] slider, int value, PropertyInfo setting)
    {
        slider[2] = value;
        setting.SetValue(JiayiSettings.Instance, slider);
        JiayiSettings.Instance!.Save();
    }
}