@page "/Versions"
@using JiayiLauncher.Features.Game
@using JiayiLauncher.Features.Versions
@using JiayiLauncher.Pages.Extra

@inject NavigationManager NavigationManager

<div class="page-title">
    <h3>Version Manager</h3>
    <h3 class="version-list-title">Full version list</h3>
</div>

<div class="versions-page">
    <div class="version-cards">
        @* simulates masonry layout *@
        <div class="cards-row row-1">
            <div class="info-card">
                <h4>Your current version</h4>
                <p>@_currentVersion</p>
                <i>@_installLocation</i>
            </div>

            <div class="info-card">
                <h4>Full version list</h4>
                <JiayiButton Size="JiayiButton.ButtonSize.Small" OnClick="FullListClicked">Open</JiayiButton>
                <i class="resize-tip">You can resize Jiayi to see the full list on the right</i>
            </div>
        </div>

        <div class="cards-row row-2">
            <div class="info-card">
                <h4>Popular versions</h4>

                <ul class="popular-versions">
                    @if (_latestVersion != null)
                    {
                        <li class="popular-version">
                            <div class="popular-version-info">
                                <strong>@_latestVersion</strong>
                                <p>Latest version</p>
                            </div>

                            <JiayiButton Size="JiayiButton.ButtonSize.Small" 
                                         OnClick="() => GotoVersion(_popularVersions[2])">View</JiayiButton>
                        </li>
                    }

                    <li class="popular-version">
                        <div class="popular-version-info">
                            <strong>1.18.12</strong>
                            <p>Popular among the community</p>
                        </div>

                        <JiayiButton Size="JiayiButton.ButtonSize.Small" 
                                     OnClick="() => GotoVersion(_popularVersions[0])">View</JiayiButton>
                    </li>

                    <li class="popular-version">
                        <div class="popular-version-info">
                            <strong>1.16.40</strong>
                            <p>Best stable release without Renderdragon</p>
                        </div>

                        <JiayiButton Size="JiayiButton.ButtonSize.Small"
                                     OnClick="() => GotoVersion(_popularVersions[1])">View</JiayiButton>
                    </li>
                </ul>
            </div>
            
            <div class="info-card shader-card">
                <h4>Shader manager</h4>
                <i style="text-align: center; margin-bottom: 0.7rem;">@_shaderText</i>
                <JiayiButton Disabled="@_shadersDisabled">Open</JiayiButton>
            </div>
        </div>
    </div>
    
    <div class="version-list">
        @* only shows if the screen is wide enough *@
        <FullVersionList ShowTitle="false" />
    </div>
</div>

@code {
    private string _currentVersion = "...";
    private string _installLocation = "...";
    private string? _latestVersion;
    private string _shaderText = "Easily apply Renderdragon shaders to your game. It's best if you have the game installed through Jiayi.";
    private List<string> _popularVersions = new() { "1.18.12.1", "1.16.40.2" };

    private bool _shadersDisabled;

    protected override async Task OnInitializedAsync()
    {
        _currentVersion = await PackageData.GetVersion();
        var location = await PackageData.GetInstallLocation();

        _installLocation = location switch {
            InstallLocation.FromJiayi => "Installed by Jiayi",
            InstallLocation.MicrosoftStore => "From Microsoft Store",
            InstallLocation.OtherVersionManager => "Installed by another version manager",
            InstallLocation.Unknown => "Unknown install location",
            _ => "Unknown install location"
        };

        var versions = await VersionList.GetVersionList();
        // shave the last 2 characters off the version name as they're not shown in game
        _latestVersion = versions[0][..^2];
        _popularVersions.Add(versions[0]);
        
        if (VersionList.CompareVersions("1.16.200.2", _currentVersion))
        {
            _shaderText = "Your game version does not have Renderdragon. Instead, use a resource pack for shaders.";
            _shadersDisabled = true;
        }
        
        if (location == InstallLocation.MicrosoftStore)
        {
            _shaderText = "Your game is installed through the Microsoft Store. Jiayi cannot apply shaders to it.";
            _shadersDisabled = true;
        }
        
        await base.OnInitializedAsync();
    }

    private void FullListClicked()
    {
        NavigationManager.NavigateTo("/Versions/Full");
    }

    private void GotoVersion(string ver)
    {
        NavigationManager.NavigateTo($"/Versions/Full/{ver}");
    }

}